<launch>
    <arg name="world" default="singlePillar"/>
    <arg name="world_directory" default="$(find smb_highlevel_controller)/worlds"/>

    <include file="$(find smb_gazebo)/launch/smb_gazebo.launch">
        <arg name="world" value="$(arg world)"/>
        <arg name="world_file" value="$(arg world_directory)/$(arg world).world"/>
        <arg name="laser_enabled" value="true"/>
        <arg name="laser_scan_min_height" value="-0.2"/>
        <arg name="laser_scan_max_height" value="1.0"/>
    </include>   

    <node pkg="smb_highlevel_controller" type="smb_highlevel_controller" name="smb_highlevel_controller" output="screen" launch-prefix="gnome-terminal --command">
        <rosparam command="load" file="$(find smb_highlevel_controller)/config/config.yaml" />
    </node>

    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find smb_highlevel_controller)/rviz/soccer.rviz" />
    <node name="rqt_multiplot" pkg="rqt_multiplot" type="rqt_multiplot" args="--multiplot-run-all --multiplot-config $(find smb_highlevel_controller)/config/rqt_multiplot.xml" />
</launch>